<!DOCTYPE html>
<html>
<head>
<title>Trukes.id - Blast WA</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid my-4">
  <div class="card my-4">
    <div class="card-header h3"><%= title %></div>
    <div class="card-body">
      <form method="POST" enctype="multipart/form-data" action="/api/wa/register">
        <div class="mb-3">
          <label for="phoneSender" class="form-label">Nomor Telepon</label>
          <input type="number" class="form-control" id="phoneSender" placeholder="Ex: 08112233445566" name="phoneSender">
        </div>
        <button type="submit" class="mt-4 btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script type="text/javascript">
</script>
</body>
</html>
