<!DOCTYPE html>
<html>
<head>
<title>Trukes.id - Blacklist Add WA</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid my-4">
  <div class="card my-4">
    <div class="card-header h3"><%= title %></div>
    <div class="card-body">
	    <!-- <form method="POST" enctype="multipart/form-data"> -->
      <form method="POST">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
	  <input type="text" class="form-control" id="name" placeholder="Nama yang mau di blacklist" name="name" value="<%= locals.name %>" maxlength="50" required>
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Phone</label>
	  <input type="number" class="form-control" id="phone" placeholder="Nomor yang mau di blacklist" name="phone" value="<%= locals.phone %>" required>
          <% if (locals.invalid_phone) { %>
	  <div class="invalid-feedback d-block">Phone number already exists.</div>
          <% } %>
        </div>
        <div class="mb-3">
          <label for="role" class="form-label">Role</label>
	  <br/>
	  <div class="form-check form-check-inline">
	    <input class="form-check-input" type="radio" name="role" id="inlineRole1" value="1" required <% if (locals.role == 1) { %>checked<% } %>>
            <label class="form-check-label" for="inlineRole1">Penerima</label>
          </div>
	  <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="role" id="inlineRole2" value="2" required <% if (locals.role == 2) { %>checked<% } %>>
            <label class="form-check-label" for="inlineRole2">Pengirim</label>
          </div>
        </div>
        <div class="mb-3">
          <label for="role" class="form-label">Skip Message</label>
	  <br/>
	  <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="1" name="skip_resi" id="skipResi" <% if (locals.skip_resi == 1) { %>checked<% } %>>
	    <label class="form-check-label" for="skipResi">Skip Resi</label>
          </div>
	  <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="1" name="skip_product" id="skipProduct" <% if (locals.skip_product == 1) { %>checked<% } %>>
	    <label class="form-check-label" for="skipProduct">Skip Product</label>
          </div>
        </div>
        <div class="mb-3">
          <label for="reason" class="form-label">Reason</label>
	  <textarea class="form-control" id="reason" placeholder="Alasan kenapa di blacklist" name="reason" maxlength="255" required><%= locals.reason %></textarea>
        </div>
        <div class="mb-3" hidden>
          <label for="formFile" class="form-label">Upload Data List</label>
          <input class="form-control" type="file" id="formFile" name="file_csv" accept=".csv">
          <small class="form-text text-muted">Daftar nomor telepone dan message / image dengan format file csv.</small>
        </div>
        <button type="submit" class="mt-4 btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script type="text/javascript">
$(function(){
    $('input#phone').keyup(delay(function(e) {
        var obj = $(this);
        obj.val(cleanPhone(obj.val()));
    }, 300));
});

function cleanPhone(str) {
  if(typeof str === "number") { //replace method only works with string
    str = String(str);
  }
  return str.replace(/\D/g, "").replace(/^[0]{1}/ ,"62").replace(/^[8]{1}/ ,"628");
}
function delay(callback, ms) {
  var timer = 0;
  return function() {
    var context = this, args = arguments;
    clearTimeout(timer);
    timer = setTimeout(function () {
      callback.apply(context, args);
    }, ms || 0);
  };
}
</script>
</body>
</html>
